<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syriasoft.cleanup">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:allowBackup,android:supportsRtl">

        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="hjucvkp8crmjt5vvevre" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="netymnmhf4mvnvantyd9mhhqaahnc8ea" />

        <activity android:name=".ROOMS"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".MiniBarCheck"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".RestaurantOrderItems"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RestaurantOrders"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".LogIn"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Alarm"
            android:process=":remote" />
        <receiver android:name=".RECIEVER" />
        <!--
<service
            android:name=".messagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->
        <service android:name=".SOSService"
            android:enabled="true" />
        <service android:name=".ReceivingService"
            android:enabled="true" />
        <service android:name=".messagingService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:icon="@drawable/service_logo"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="Checkin"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
    </application>

</manifest>