<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hotelservicesstandalone">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelServices"
        tools:replace="android:allowBackup,android:supportsRtl">

        <activity android:name=".Locks"/>

        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="hjucvkp8crmjt5vvevre" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="netymnmhf4mvnvantyd9mhhqaahnc8ea" />

        <activity
            android:name=".RoomManager"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Rooms"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <service
            android:name=".MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>